html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    color: purple;
    background-color: lightpink;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}